* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #a60f37; */
}
nav {
  display: flex;
  justify-content: space-evenly;
}
nav h2 {
  color: #a60f37;
  text-align: center;
}
nav img {
  margin: 0;
  width: 200px;
}
#image-container {
  width: 50vw;
  /* border: 2px solid red; */
}

#right-container {
  padding-left: 50px;
  width: 50vw;
  /* border: 2px solid blue; */
}

img {
  width: 600px;
  margin-top: 150px;
}

.container {
  display: flex;
}

form {
  width: 400px;
  padding: 25px;
  box-shadow: 0px 6px 26px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
}

form input {
  margin: 9px 0px;
  padding: 7px;
  width: 100%;
  background-color: #a60f37;
  border: none;
  color: white;
}

::placeholder {
  color: white;
}

form button {
  border: none;
  font-weight: bold;
  font-size: 21px;
  background: white;
  text-align: center;
  cursor: pointer;
}

div ul li {
  color: black;
  margin: 15px;
}

#advrtext h2 {
  margin: 20px;
  text-align: center;
}

#about {
  width: 70vw;
  text-align: center;
  position: relative;
  bottom: 190px;
  left: 180px;
  /* transform: translate(-50%, -50%); */
}

#about h3 {
  font-weight: 900;
  margin: 5px 0px;
}

#about p {
  background-color: #a60f37;
  color: white;
  border-radius: 100px;
  padding: 20px;
}

#phone {
  box-shadow: 0px 10px 2px gainsboro;
  background-color: #a60f37;
  color: white;
  width: 250px;
  text-align: center;
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  bottom: 200px;
}

@media (max-width: 1200px) {
  img {
    width: 500px;
    margin-top: 100px;
  }
  form {
    width: 350px;
  }
  #about {
    width: 80vw;
    left: 100px;
  }
}
@media (max-width: 1194px) {
  #about {
    width: 400px;
  }
  #phone {
    bottom: 150px;
  }
}
@media (max-width: 992px) {
  .container {
    flex-direction: column;
  }
  #image-container,
  #right-container {
    width: 100%;
  }
  #right-container #ul {
    text-align: center;
  }
  img {
    width: 100%;
    margin-top: 50px;
  }
  form {
    width: 300px;
    margin: auto;
  }
  #about {
    bottom: 50%;
    width: 90vw;
    left: 300px;
    top: 750px;
    width: 400px;
    /* font-size: 12px; */
    position: absolute;
  }
  #phone {
    bottom: 100px;
    position: fixed;
  }
}

@media (max-width: 768px) {
  img {
    width: 100%;
    margin-top: 20px;
  }
  form {
    width: 250px;
  }
  #about {
    /* width: 100vw; */
    bottom: 50%;
    width: 90vw;
    left: 300px;
    top: 750px;
    width: 400px;
    /* font-size: 12px; */
    position: absolute;
  }
}

@media (max-width: 576px) {
  img {
    width: 100%;
    margin-top: 10px;
  }
  form {
    width: 200px;
    padding: 15px;
  }
  nav img {
    width: 100px;
  }
  nav h2 {
    font-size: 10px;
  }
  form input {
    margin: 5px 0px;
    padding: 5px;
  }
  form button {
    font-size: 18px;
  }
  #about {
    width: 100%;
    left: 10px;
    /* bottom: px; */
    position: absolute;
    top: 250px;
    font-size: 10px;
  }
  #phone {
    bottom: 50px;
    width: 200px;
  }
}
